<div class="container">    
    {{ form_start(form) }}
    <div class="form-group">
        <label>Catégorie :</label><br>
        {{ form_widget(form.name) }}
    </div>
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
</div>