{% extends 'base.html.twig' %}

{% block title %}Modifier catégorie - {{ category.name }}{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    
    <div class="text-center col-lg-12 mb-3">
        <a class="btn btn-secondary btn-sm" href="{{ path('category_index') }}">Retour <i class="fas fa-undo-alt"></i></a>
    </div>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
