{% extends 'base.html.twig' %}

{% block title %}Modifier l'article - {{ article.title }}{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier l'article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="text-center col-lg-12 mb-3">
        <a class="btn btn-secondary btn-sm" href="{{ path('article_index') }}">Retour <i class="fas fa-undo-alt"></i></a>
    </div>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
